<a href="https://colab.research.google.com/github/Am0994/python-practice/blob/main/untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Type Casting

In [ ]:
a=int(5)
print(a)

5

In [ ]:
#Type data

In [ ]:
x=5
print(type(x))

<class 'int'>

In [ ]:
#Type operators

In [ ]:
print(10+5)

15

In [ ]:
#Type operators

In [ ]:
sum1=100+ 5
sum2=sum1+ 250
sum3=sum2+ sum2
print(sum3)

710

In [ ]:
arr = [12, 35, 1, 10, 34, 1]

In [ ]:
print("Hello World!")

In [ ]:
s = "Brad"
print(s)

s = "Anjelina"
age = 25
city = "New York"
print(s, age, city)

Brad
Anjelina 25 New York

In [ ]:
colour = input("what colour is rose?:")
cleaned_colour = colour.lower()

if cleaned_colour == "red":
    print("That's correct! Roses are often red.")
else:
    print(f"You entered: {colour}. Roses can be many colours!")

what colour is rose?:red
That's correct! Roses are often red.

In [ ]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [ ]:
import numpy as np

n = np.array([9,3,3,5])
print(n.mean())    # Calculating mean

5.0

In [ ]:
#EMPTY LIST
a=[]
#list withint values
a=[1,2,3]
print(a)
#list with mixed values int and string
b=["Geeks","For","Geeks",4,5]
print(b)

[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]

In [ ]:
a=np.random.normal(0,1,5)
print("Data:",a)
print("Mean:",a.mean())

Data: [1.48653956 1.77680166 0.32389241 1.19296279 1.37234065]
Mean: 1.2305074138332692

#dictionary

In [4]:
student={"name":"Ravi","age":20,"city":"Delhi"}
print(student)

{'name': 'Ravi', 'age': 20, 'city': 'Delhi'}

#output variables

In [5]:
x = "Python is awesome"
print(x)

Python is awesome

In [6]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [7]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [8]:
x = 5
y = 10
print(x + y)

15

In [9]:
x = 5
y = "John"
print(x, y)

5 John

#Global variables

In [10]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [11]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [12]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic